*.retry
.github/get-pip.py
terraform/terraform.json
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform*
terraform/prod/terraform.tfvars
terraform/stage/terraform.tfvars
terraform/main.tf
terraform/output.tf
ansible/reddit_app2.yml.save
ansible/vars/
packer/variables.json
jdauphant.nginx
ansible/vault.key
reddit_app2.yml.save
ansible/jdauphant.nginx/
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
